<div class="row">
    <div class="col-md-6 col-md-offset-3">
	<h2>A propos</h2>
    <p>Cette maquette a été réalisée en utilisant les ressources et technologies suivantes :</p> 
    <ul class="list-group">
    	<li class="list-group-item"><a href="http://emberjs.com/">Ember JS</a></li>
    	<li class="list-group-item"><a href="http://getbootstrap.com/">Bootstrap</a></li>
    	<li class="list-group-item"><a href="https://bootswatch.com/">Bootswatch</a> : thème Flatly</li>
    	<li class="list-group-item"><a href="http://www.amcharts.com/">AmCharts</a></li>
    	<li class="list-group-item"><a href="http://usablica.github.io/intro.js/">Intro.Js</a></li>
    	<li class="list-group-item"><a href="http://github.hubspot.com/odometer">Odometer</a></li>
    	<li class="list-group-item">Et d'autres !</li>
    </ul>
    <p>Crédits images :</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://www.perspicapp.com/">PerspicApp</a> pour le logo. Merci à eux pour les retouches photos et les conseils !</li>
    	<li class="list-group-item"><a href="http://icons8.com/">Icons8</a> pour certains icônes</li>
    	<li class="list-group-item"><a href="http://glyphicons.com/">Glyphicons</a> pour d'autres</li>
    	<li class="list-group-item"><a href="https://www.flickr.com/photos/dinnerseries/14741488518/in/photolist-osDYX9-9ujAcV-aewgs6-6Tp311-jpHra1-ogrk5H-9xtHEc-9yHhtd-9jkkW5-e8fUPx-pDqzbJ-jR8b1-6hqdU-7XpAXp-21xf5X-jV1cY-nJKDkq-4HdMEu-xUdWz-niMrx1-5jbno2-dXnZfV-4Qgf11-6R31bA-4oEvi8-4vpvDE-9jtokE-83qQCD-4sAZnQ-dtxfY6-dMDn8n-i8aXFQ-4an4ZP-pgqfdU-ao2xUe-nuBfrv-yy6yS-egM3in-4sN6MQ-oCoWJz-76iPGD-7dYDNS-BWDU2-6wSCue-5inUcp-6EM4vP-9qAdhJ-oocTjt-afQYJw-8BXoMM">Verre d'eau</a> par Didriks</li>
    	<li class="list-group-item"><a href="https://www.flickr.com/photos/brunkfordbraun/330793963">Idée</a> par Joey Gannon</li>
    	<li class="list-group-item"><a href="http://www.fredericweber.com/articl_dieux/article_fides.htm">Pièce Fides</a> par Frédéric Weber</li>
        <li class="list-group-item"><a href="https://www.flickr.com/photos/dhendrix/6644037141/in/photolist-4uo8TF-6dEniD-6dEndk-4fgaGY-dv2kHu-2vH4Ma-7gUnxA-i6ycVY-b87qLv-bD2bs2-bD2b1X-bD2aFx-bq7e8d-bq7dZS-aEWEGz-f7Juj-97Kfzp-981nQ5-7K4pkQ-bPXFDV-b6iQb2-6DrZqn-a13tem-rbKTgr-5RgyZr-5pR7vK-9H923x-mKLfb2-b6fLQv-b6fGoT-b6fFPx-Ncdt5-b6iSkk-7cRKbD-duVKuF-4EAAZ6-MLdV-csxSEb-pzBJBJ-pi8Gft-pia1qJ-EmHzx-kdK64b-89xksJ-eifnE3-b6eJYg-pi8HnD-pxBfDf-pi9Z9A-piaiL4">Poignée de main</a> par dhendrix73</li>
        <li class="list-group-item"><a href="https://www.flickr.com/photos/59937401@N07/5857501289/in/photostream/">Billet de 10€ qui pousse</a> par Images Money</li>
        <li class="list-group-item"><a href="https://www.flickr.com/photos/remimathis/8686131719/in/photolist-MiXyJ-4fsYG-7Z9zm-78yVq1-eeyGkH-83Siif-egRUMW-he9C8n-8TzSG-kuZjc1-bNjxG2-obsh4R-epDkj2-eKmWeY-dTEHiG-5MmDqW-kuZnR5-kuX9M4-n4T51x-guvFhz">Sceau Gramont</a> par Rémi Mathis</li>
        <li class="list-group-item"><a href="https://www.flickr.com/photos/bigtallguy/498260191">Dig Here</a> par Paul Reynolds</li>
        <li class="list-group-item"><a href="http://www.photos-non-contractuelles.fr/post/le-quick-intense-battle-bacon.html">Burger</a> sur Photos non contractuelles</li>
        <li class="list-group-item"><a href="http://logos.wikia.com/wiki/Alsace_Lait">Logo Alsace Lait</a> sur Wikia</li>
        <li class="list-group-item"><a href="http://fr.openfoodfacts.org/produit/1602256950000/ketchup-ikea">Ingrédients Ketchup Ikea</a> sur OpenFoodFacts</li>
    	<li class="list-group-item"><a href="http://fr.openfoodfacts.org/produit/3660861022664/ravioles-3-fromages-rivoire-carret">Informations nutritionnelles Ravioles</a> sur OpenFoodFacts</li>
    </ul>
  </div>
</div>
