{{!-- Header --}}
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'home' classNames="navbar-brand"}}<img src="assets/img/feedes_logo.png" class="logo"/>{{/link-to}}
    <p class="navbar-text hidden">La transparence alimentaire</p>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'projet'}}Le projet{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Exemples<span class="caret"></span>
          </a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li class="dropdown-submenu">
              <a href="#" tabindex="-1">Pain de mie</a>
              <ul class="dropdown-menu">
                <li>{{#link-to 'qui'}}Acteurs{{/link-to}}</li>
                <li>{{#link-to 'quoi'}}Composition{{/link-to}}</li>
                <li>{{#link-to 'ou'}}Origine{{/link-to}}</li>
                <li>{{#link-to 'comment'}}Fabrication{{/link-to}}</li>
                <li>{{#link-to 'combien'}}Prix{{/link-to}}</li>
              </ul>
            </li>
            {{!-- <li>{{#link-to 'fruits-legumes' 3}}Oeufs{{/link-to}}</li> --}}
            {{!-- <li>{{#link-to 'fruits-legumes' 2}}Salade{{/link-to}}</li> --}}
            <li>{{#link-to 'viandes' 4}}Steak{{/link-to}}</li>
          </ul>
        </li>
          
        <li>{{#link-to 'sondage'}}Sondage{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'posts'}}Blog{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'a-propos'}}A propos{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
</header>
{{!-- Content --}}
<div class="container-fluid">
  {{outlet}}
</div>

{{!-- Footer --}}
<footer>
<div class="container text-center">
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li><a href="https://www.gnu.org/licenses/gpl.html"><img src="assets/img/glyphicons-399-copyright-mark.png" alt="Copyright"> GNU GPL v3</a></li>
        <li><a href="https://twitter.com/FeedesFr"><img src="assets/img/social-32-twitter.png" alt="" /> Twitter</a></li>
        <li><a href="https://github.com/pijey/feedes"><img src="assets/img/social-22-github.png" alt="" /> GitHub</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>