<div class="alert alert-success col-md-10 col-md-offset-1" role="alert">
    <h3 class="text-center" data-position="bottom" data-intro="<p>Plus nous achetons de produits transformés, moins nous avons de maîtrise sur leur fabrication. Connaître les étapes d'élaboration peut permettre de reprendre la main et d'être plus exigeant.</p><strong>Attention, les données affichées ici sont fictives.</strong>">Comment a été fabriqué ce produit ?</h3>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="panel panel-default" data-position="right" data-intro="<p>Enormément de contrôles sont effectués sur les produits alimentaires. Certains sont obligatoires, mais certains fabricants vont plus loin en effectuant des contrôles complémentaires. Ne serait-il pas intéressant de les connaître ?</p>">
      <div class="panel-heading"><h4 class="title-center">Contrôles</h4></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-info-sign"></span></span>Contrôle Qualité</li>
          <li class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-info-sign"></span></span>Contrôle Sanitaire</li>
          <li class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-info-sign"></span></span>Contrôle Nutritionnel</li>
          <li class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-info-sign"></span></span>Labellisation</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6" data-position="left" data-intro="<p>Là on rentre dans le vif du sujet ! Quelles sont les étapes nécessaires à la fabrication de nos produits, où comment passer des matières premières au produit fini !</p>">
    <div>
      <img class="transport-icon img-responsive" src="assets/img/fabricationPdm.png"/>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="title-center">Moyens de transport</h4></div>
      <div class="panel-body indicators-center">
        <img class="transport-icon" src="assets/img/truck.png"/>
        <img class="transport-icon" src="assets/img/airplane.png"/>
      </div>
    </div>
    <div class="panel panel-default" data-position="left" data-intro="<p>Connaître les ressources naturelles et énergétiques utilisées lors de la fabrication du produit peut permettre de se rendre compte de l'impact qu'il peut avoir sur l'environnement.</p>">
      <div class="panel-heading"><h4 class="title-center">Ressources utilisées</h4></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning"><span class="badge">2.5 L</span>Pétrole</li>
          <li class="list-group-item list-group-item-warning"><span class="badge">24 kWh</span>Electricité</li>
          <li class="list-group-item list-group-item-success"><span class="badge">0 m3</span>Gaz</li>
          <li class="list-group-item list-group-item-danger"><span class="badge">23 L</span>Eau</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row row-with-margin">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" data-position="top" data-intro="<p>Des explications sont parfois nécessaires pour bien comprendre le processus de fabrication.</p>">
      <div class="panel-heading"><h4 class="title-center">Processus de fabrication du produit fini</h4></div>
      <div class="panel-body">
        <div class="panel-group" id="accordionFabrication" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionFabrication" href="#fabricationCollapseOne" aria-expanded="true" aria-controls="fabricationCollapseOne">
                  Mélange et pétrissage
                </a>
              </h4>
            </div>
            <div id="fabricationCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <img class="right" width="200" src="assets/img/petrissage.jpg"/>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFabrication" href="#fabricationCollapseTwo" aria-expanded="false" aria-controls="fabricationCollapseTwo">
                  Cuisson
                </a>
              </h4>
            </div>
            <div id="fabricationCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFabrication" href="#fabricationCollapseThree" aria-expanded="false" aria-controls="fabricationCollapseThree">
                  Découpe
                </a>
              </h4>
            </div>
            <div id="fabricationCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFabrication" href="#fabricationCollapseFour" aria-expanded="false" aria-controls="fabricationCollapseFour">
                  Emballage
                </a>
              </h4>
            </div>
            <div id="fabricationCollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably havent heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3" data-position="top" data-intro="<p>Même pour obtenir les ingrédients de base que nous pouvons lire sur les étiquettes, il faut parfois quelques manipulations !</p>">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="title-center">Obtention des ingrédients intermédiaires</h4></div>
      <div class="panel-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Farine de blé et gluten de blé
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h4>Culture et récolte du blé</h4>
                <img class="left" width="200" src="assets/img/epible.jpg"/>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson.
                <h4>Mouture du blé</h4>
                <img class="right" width="200" src="assets/img/moutureble.jpg"/>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson.
                <h4>Extraction du gluten</h4>
                <img class="left" width="200" src="assets/img/centrifugeuse.jpg"/>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson. 
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Huile de colza
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Sucre roux de canne
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Vinaigre de cidre
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably havent heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>